.carousel {
  display: flex;
  flex-direction: row;
  /*
  width: 100px;
  height: 100px;
  background-color: red;
  */
}

.carousel-container {
  width: 100%;
  overflow-y: visible;
  overflow-x: visible;
}