.white-card {
  position: relative;
  width: 135px;
  height: 210px;
  padding: 20px;
  margin: 0 5px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0px #444444;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;

  transition: 100ms linear;
}

.white-card .bottom {
  position: absolute;
  bottom: -32px;
  left: 0px;
  width: 100%;
}

.white-card.selected {
  transform: translateY(-32px) scale(1.05);
  z-index: 1;
}